
*{
  box-sizing: border-box;
}
a{
  display: inline-block;
}
table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
#root{
    font-family: 'NanumBarunGothic-Regular', sans-serif;
    font-weight: 300;
    font-style: normal;
}

h2{
  margin: 0;
  padding: 0;
}
em{
  font-style: normal;
}
ul{
  margin: 0;
  padding: 0;

  li{
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
p{
  margin: 0;
}
caption {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    margin: 0;
    padding: 0;
}
th, td {
    border-collapse: collapse;
}
strong{
  font-weight: normal;
}


@font-face {
  font-family: 'NanumBarunGothic-Light';
  font-style: normal;
  font-weight: 300;
  src: local('Nanum Barun Gothic Light'), local('Nanum Barun Gothic-Light'), local('NanumBarunGothic Light');
  src: url(../fonts/NanumBarunGothicLight.eot);
  src: url(../fonts/NanumBarunGothicLight.eot?#iefix) format('embedded-opentype'),
      url(../fonts/NanumBarunGothicLight.woff) format('woff'),
      url(../fonts/NanumBarunGothicLight.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumBarunGothic-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Nanum Barun Gothic Regular'), local('Nanum Barun Gothic-Regular'), local('NanumBarunGothic Regular');
  src: url(../fonts/NanumBarunGothic.eot);
  src: url(../fonts/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
      url(../fonts/NanumBarunGothic.woff) format('woff'),
      url(../fonts/NanumBarunGothic.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumBarunGothic-Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Nanum Barun Gothic Bold'), local('Nanum Barun Gothic-Bold'), local('NanumBarunGothic Bold');
  src: url(../fonts/NanumBarunGothicBold.eot);
  src: url(../fonts/NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
      url(../fonts/NanumBarunGothicBold.woff) format('woff'),
      url(../fonts/NanumBarunGothicBold.ttf) format('truetype');
}
.rbc-btn {
  color: inherit;
  font: inherit;
  margin: 0;
}

button.rbc-btn {
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled].rbc-btn {
  cursor: not-allowed;
}

button.rbc-input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

