@import './variables.less';
@import './reset.less';


/* default */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,button,iframe,th,td{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,dt{font-weight:normal;}
img,fieldset,iframe,button{border:0 none;}
li{list-style:none;}
i, em, u, cite {font-style:normal;}
strong, b{font-weight:normal;}
a{color:#757575;text-decoration:none;outline-offset:-1px;}
.chrome a,
.safari a{outline-offset:-3px;}
input {line-height: normal!important;}

.blind {position: absolute; top: 0; left: 0; width: 0; height: 0; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0; }

html, body{height:100%}
body{font-size:12px;line-height:1.3;color:#212121;background-color:#f1f1f1; -webkit-appearance: none; appearance: none;/*-webkit-font-smoothing:antialiased;*/-webkit-text-size-adjust:none;-moz-osx-font-smoothing:gratranslate3d(0,0,0)yscale;/*overflow-y:hidden;*/overflow-x:hidden; word-break:keep-all; word-wrap:break-word; -webkit-hyphens:auto; hyphens:auto;}
.non-scroll {overflow-y:hidden;}

.rbc-calendar {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.rbc-calendar *,
.rbc-calendar *:before,
.rbc-calendar *:after {
  box-sizing: inherit;
}

.rbc-abs-full {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.rbc-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rbc-rtl {
  direction: rtl;
}

.rbc-off-range {
  color: @out-of-range-color;
}

.rbc-header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 6px;
  text-align: left;
  vertical-align: middle;
  font-weight: bold;
  font-size: 11px;
  line-height: 20px;
  min-height: 0;
  color: #bdbdbd;

  > a {
    &, &:active, &:visited {
      color: inherit;
      text-decoration: none;
    }
  }
}

.rbc-row-content {
  position: relative;
  user-select: none;
  z-index: 4;

  & .rbc-row:first-child{
      padding: 7px 0;
  }
}

.rbc-today {
  // background-color: @today-highlight-bg;
}


@import './toolbar.less';
@import './event.less';
@import './month.less';
@import './agenda.less';
@import './time-grid.less';
